.searchCard {
  margin: auto 20vw;
  text-align: center;
}

.searchBar {
  margin: 1vh;
}

.topcardElements {
  width: 18.6vw;
}

.order {
  margin: 0;
  margin-right: 1%;
}

.searchButton {
  top: 5vh;
}
