.addButton {
  position: absolute;
  background-color: #3b5998;
  left: 700px;
  width: 300px;
}

.iconAdd {
  color: white;
  position: absolute;
  left: 5px;
  top: 5px;
}

.notificationsButton {
  position: absolute;
  top: 1%;
  right: 15%;
}

.languagesButton {
  position: absolute;
  top: 1%;
  right: 9.25%;
  display: flex;
}

.personButton {
  position: absolute;
  top: 1%;
  right: 2%;
}

.toolbar {
  background-color: white;
  height: 50px;
}

.LBC {
  position: relative;
  background-color: #3b5998;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 150px;
  width: auto;
  border-radius:0 0 50% 50%/0 0 100% 100%;
}
